{{> website-elements/navbar}}
<div id="parent-container">
{{#if default}}
  {{> website-elements/main-block}}
{{/if}}

{{#if listDisplay}}
  {{> lists/list-block}}
{{/if}}

{{#if flashcards}}
  {{> lists/flashcard-block}}
{{/if}}

{{#if translate}}
  {{> vocabs/search}}
  {{> vocabs/results}}
{{/if}}
</div>

