<label class="radio">
    <input type="radio" name="answer" data-value="easy">
    Easy
</label>
<label class="radio">
    <input type="radio" name="answer" data-value="medium">
    Medium
</label>
<label class="radio">
    <input type="radio" name="answer" data-value="hard">
    Hard
</label>