<div class="results-container">
    <div class="card">
        <div class="results-header">
            <h1>Results</h1>
            <i id="save-btn" class="fas fa-star"></i>
        </div>
        <div class="card-content">
            <div id="translate" class="results-chunk"></div>
        </div>
    </div>
</div>