html {
  height: 100%
}

body {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

#parent-container {
  padding-top: 10px;
  height: 100%;
  overflow: auto;
  background-color:#6FC5DB;
}

#main-name{
  font-family: 'Arvo', serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  color: white;
  padding: 0 15px;
  text-shadow: 4px 4px rgb(30, 73, 192)
}

.navbar-burger {
  font-size: 2em;
  color: white;
  border-color: solid 1px white;
}

#navbarBasicExample{
  background-color: rgb(30, 73, 192);
}

.navbar-brand {
  background-color: rgb(30, 73, 192);
  height: 50px;
}

.navbar-dropdown {
  padding: 0;
}

.navbar-dropdown a {
  background: white;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.welcome-container {
  position: relative;
  margin: 0 auto;
  width: 95%;
  background: white;
  padding: 10px;
  border-radius: 3px;
}

#welcome{
  text-align: center;
  color: rgb(30, 73, 192);
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

#welcomebot {
  position: absolute;
  top: 2px;
  left: 10px;
  width: 40px;
}

.options-container {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  width: 100%;
  margin: 10px auto;
  border-radius: 3px;
}

.option-chunk {
  width: 95%;
  background: white;
  margin: 10px auto;
  border-radius: 5px;
}

.option-title {
  cursor: pointer;
  background: #B9E5FC;
  padding: 5px 10px;
  font-weight: bold;
  font-size: .9em;
  border-radius: 3px 3px 0 0;
}

.option-body {
  padding: 10px;
}

.list-title {
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto;
  color: rgb(30, 73, 192);
  padding: 5px 0;
}

.list-error {
  font-size: .8em;
  padding: 5px 0;
  font-style: italic;
}

.list-save-option {
  margin: 30px 0;
}

#new-vocab-list {
  display: block;
  height: 40px;
  margin: 10px auto;
  width: 80%;
}

.search-container {
  text-align: center;
  width: 95%;
  margin: 10px auto 0 auto;
  border-radius: 3px;
}

.results-container {
  display: none;
  margin: 0 auto;
  width: 95%;
}

.results-container .card-content {
  text-align: center;
}

.results-header {
  font-family: "Rubik", sans-serif;
  position: relative;
  text-align: center;
  padding: 10px;
  background: gray;
  color: white;
}

.results-header i {
  position: absolute;
  top: 10px;
  right: 10px;
}

#save-btn {
  cursor: pointer;
  font-size: 1.2em;
  color: hsl(61, 100%, 50%);
}

.modal-card {
  margin: 0 auto;
  width: 80%;
}

.modal-card-head {
  font-family: "Arvo", serif;
  overflow: auto;
}

.modal-card-body {
  text-align: center;
}

.list-container {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  margin: 0 auto;
}

.all-lists {
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  background: white;
  border-radius: 3px;
}

.vocab-container {
  margin-bottom: 10px;
}

.single-option {
  font-size: .8em;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.single-option:hover {
  background: #ccc;
}

.single-vocab {
  position: relative;
  font-family: 'Rubik', 'san-serif';
  width: 95%;
  margin: 10px auto 0 auto;
  font-size: 1em;
  text-align: center;
  background-color: rgb(222, 228, 228);
  padding: 5px;
  border-radius: 3px 3px 0 0;
}

.difficulty-easy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  background: rgb(43, 202, 128);
}

.difficulty-medium {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  background: rgb(255, 236, 127);
}

.difficulty-hard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  background: rgb(255, 103, 103);
}

.expanded-vocab {
  position: relative;
  font-family: 'Rubik', 'san-serif';
  display: none;
  font-size: .8em;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  background: white;
  border-radius: 0 0 3px 3px;
}

.expanded-vocab button {
  font-family: 'Rubik', 'san-serif';
  padding: 5px;
  background: #ccc;
  border-style: none;
}

.vocab-content {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}

.vocab-content i {
  margin: 5px 5px;
  color: #ccc;
  font-size: .8em;
}

#vocab-delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.search-container .card {
  background: #ddd;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-title {
  display: inline-flex;
  font-size: .8em;
  width: 60px;
  background: gray;
  border: 1px solid gray;
  color: white;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  margin-right: -5px;
  text-align: center;
}

.content .button {
  font-size: .8em;
  border-radius: 0 3px 3px 0;
}

.dropdown-placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: .8em;
}

.dropdown-item {
  font-family: 'Rubik', sans-serif;
  font-size: .8em;
}

#word {
  font-size: .8em;
}

.search-bar button {
  margin-top: 20px;
  font-size: .8em;
  background: #616161;
  color: white;
}

.title {
  font-family: 'Arvo', serif;
  background-color: teal;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.125;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  bottom: 47px;
  color: white;
}

.radio {
  font-family: 'Arvo', serif;
}

.panel {
  margin: 15px 0;
}

.accordion {
  cursor: pointer;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.word-container {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.word-block {
  margin-top: 10px;
  margin-bottom: 50px;
}

.main-word {
  margin: 20px 0;
  font-weight: bold;
  padding: 5px;
}

.list-editor {
  margin: 40px 0;
  text-align: center;
}

.list-editor .title {
  margin-bottom: 0;
}

.list-block {
  margin-bottom: 30px;
}

.fc-container {
  text-align: center;
}

.fc-list-option {
  cursor: pointer;
  margin: 15px 0;
}

.fc-list-option h1 {
  margin: 15px 0;
  color: teal;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-family: 'Righteous', cursive;
}

.fc-list-option h1:hover {
  background: teal;
  color: white;
}

.fc-title {
  margin: 15px 0;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Righteous', cursive;
}

.fc-current-translated {
  display: none;
}

.fc-current-native {
  display: none;
}

.active-word {
  display: block;
}

.fc-vocab {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fc-difficulty-1 {
  background: rgb(43, 202, 128);
}

.fc-difficulty-2 {
  background: rgb(255, 236, 127);
}

.fc-difficulty-3 {
  background: rgb(255, 103, 103);
}

.hideme {
  visibility: hidden;
}

.italics {
  font-style: italic;
}

footer {
  position: absolute;
  text-align: left;
  left: 0;
  bottom: 0;
  right: 0;
}
